.featured-video {
    margin: 20px 30px;
    
    h1 {
        text-align: center;
        font-size: 26px;
        font-weight: 600;
    }
    
    .container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    
            
        span {
            font-size: 14px;
            font-weight: 400;
        }

        div {
            height: 425px;
            width: 19%;
            background-color: #6973ff;
        }
    }
}