#signup-form {
  z-index: 9999;
  position: relative;
  width: 484px;
  height: 654px;
  padding: 30px 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;

  i {
    font-size: 36px;
    color: #e60023;
  }

  label {
    display: block;
    text-align: left;
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 6px;
  }

  input {
    width: 95%;
    height: 45px;
    border: solid 2px #dddddd;
    outline: none;
    padding: 3px 12px;
    border-radius: 15px;
    margin-bottom: 6px;
  }

  input:focus {
    outline: solid 4px rgb(0, 174, 255);
  }

  a {
    text-align: left;
    font-size: 14px;
    margin-bottom: 6px;
  }

  button {
    width: 100%;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;

    i {
      display: inline;
      font-size: 24px;
      color: #e60023;
    }
  }

  #google-login {
    background-color: #fff;
    border: solid 0.5px #e2e2e2;
    color: #000;
  }

  p {
    font-size: 11px;
    color: #818181;
    font-weight: 400;

    a {
      font-size: 11px;
      font-weight: 500;
      color: #000;
    }
  }

  a {
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    padding-top: 6px;
  }

  #create {
    font-size: 16px;
    color: #000;
    background-color: #c2c2c2;
    width: 484px;
    height: 70px;
    padding: 20px 120px 50px 120px;
    margin-top: 20px;
    margin-left: -90px;
    margin-bottom: -50px;
  }
}

#signup-form::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
}
