/* CSS footer */
.footer {
  height: 32px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background-color: #fff;
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: 999;

  a {
    font-size: 12px;
    font-weight: 500;
  }

  a:hover {
    text-decoration: underline;
    transition: 0.3s;
  }
}
