.interest {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 70px 30px;

    h1 {
        text-align: center;
        font-size: 26px;
        font-weight: 600;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;

        .content {
            display: flex;
            flex-direction: column;

            h2 {
                font-size: 20px;
                font-weight: 500;
            }

            .item {
                display: flex;
                
                div {
                    height: 345px;
                    background-color: #3b69ff;
                }


            }
        }
    }







}